body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Colors based on user answers to covid questionnaire */
.positive {
  background-color: #ff0000;
}

.negative {
  background-color: #72f706;
}

.tested {
  background-color: rgb(182, 132, 247);
}

.inQuarantine {
  background-color: rgb(0, 119, 255);
  color: white;
}

.vaccinated {
  background-color: rgb(3, 248, 207);
}

.riskLevel-6 {
  background-color: rgb(124, 2, 2);
  color: white;
}
.riskLevel-5 {
  background-color: rgb(255, 0, 0);
}

.riskLevel-4 {
  background-color: rgb(230, 106, 4);
}
.riskLevel-3 {
  background-color: rgb(255, 217, 0);
}
.riskLevel-2 {
  background-color: rgb(255, 255, 0);
}

.riskLevel-1 {
  background-color: rgb(176, 243, 52);
}

.riskLevel-0 {
  background-color: rgb(0, 128, 0);
  color: white;
}

@media (min-width: 300px) {
  #siteTitle {
    padding: 40px;
    margin-bottom: 0px;
  }
}
#logOutbtn {
}

/*Tablet View*/
@media (min-width: 767px) {
  #siteTitle {
    padding: 40px;
    margin-bottom: 0px;
  }
  #infoIcon,
  .ml5 {
    padding-left: 10px;
    /* margin-left: 5rem !important; */
  }
  #navbar {
    height: 75px !important;
  }
 
}

/*For Desktop view*/
@media (min-width: 1025px) {
  #siteTitle {
    padding-top: 80px;
    margin-top: 0px;
  }

  .test {
    margin-left: 200px;
    margin-right: 200px;
    max-width: 150rem;
    max-height: 100rem;
  }
  #navbar {
    height: 75px !important;
  }
  .bio {
    padding-top: 90px;
  }
  #profile {
    /* background-color: rgb(147, 161, 187); */
  }
  #infoIcon {
    margin-left: 500px;
    /* padding-left: 200px; */
  }
  #friendImg {
    padding-right: 30px !important;
  }
  #friendName {
    /* padding-left: 0px !important; */
  }
  .friendCard {
    padding: 20px;
    padding-left: 40px;
    width: 75%;
    margin-left: 150px;
    align-items: center;
  }
  .search {
    margin-top: 70px;
  }
  
}

